*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: none;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    border-radius: 2px;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}
